#header a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
}
#header h6{
  text-decoration: none;
  text-transform: capitalize;
  font-weight: normal;
  color: #cccccc;
  font-size: 10px;
}
#slide {
  background-color: #333333;
}
#titre h1{
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
footer {
  background-color: #000;
  color: #333;
}
footer a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ccc;
}
footer a::before{
  content: '|';
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
#ahome::before{
  content:'' ;
}
ul li a{
  float:left;
}
a:hover{
  color: #00ef45;
  text-decoration: none;
  text-transform: lowercase;
  background-color: #cccccc;
}
